.header-flag {
  width: 27px;
  max-height: auto;
  margin-bottom: 3px;
}

#header-links-name {
  display: inline-block;
  padding: 0px 10px;
  color: lightslategray;
}

#header-lang-link {
  display: inline-block;
  margin: 0px;
  padding-right: 10px;
}