<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        {%- if site.github_username -%}
          <a class="footer-icon" href="https://github.com/{{ site.github_username | cgi_escape | escape }}">
            <img src="{{ include.github-icon }}"/>
          </a>
        {%- endif -%}
        {%- if site.linkedin_username -%}
          <a class="footer-icon" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
            <img src="{{ include.linkedin-icon }}"/>
          </a>
        {%- endif -%}
      </div>
      <div class="footer-col">
        <div>
          {%- assign fields = page.permalink | split: "/" -%}
          {%- assign used_lang = fields[1] | default: "en" -%}
          {%- if site.author -%}
            {{ site.author[used_lang] | escape }}
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
        </div>
        <div>
          {%- if site.email -%}
          <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
          {%- endif -%}
        </div>
      </div>
    </div>

  </div>

</footer>
