---
layout: default
title: About
id-img: ../assets/img/id-small.jpg
images_dir: /images/home
---

<div class="home-content">
    <div class="intro">
        <div class="photo-pane"> <img src="{{ layout.id-img }}" /> </div>
        <div class="intro-pane">
            <h2> Yen-Shi Wang </h2>
            <p class="intro-italic"><i> ––– dedicated C++ programmer with ability to learn things fast</i></p>
            <p> As an M.S. student in ECE at Carnegie Mellon University (CMU), my interest lies in systems and cloud.
                Besides experience in CPU/GPU performance tuning, ML compilers and LLVM, which are based in C++,
                I'm also familiar with cloud services, various frameworks, and backend/frontend development.
                <br>
                Here is my <a class="cv" href="/assets/pdf/Yen-Shi-Wang-CV.pdf">Curriculum Vitae</a> .
            </p>
        </div>
    </div>
    <hr class="horizontal-line">
    <h3 class="section-title">Experience</h3>
    <div class="project-list">
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">Performance SWE Intern at
                    <a href="https://www.nvidia.com/">Nvidia</a>
                </h3>
                <h3 class="project-time">May. 2020 - Aug. 2020</h3>

                <p> Optimized C++ multithreading server for MLPerf Inference v0.7 BERT, used Nsight Systems to analyze
                    CPU/GPU performance bugs, and utilized CUDA streams and graphs to boost throughput (Details cannot
                    be disclosed before the results are public.) Actively involved in code review and group discussion
                    in a remote working environment.
                </p>
                <!--
                    I participated in ONNC project, and implemented 21 optimization passes
                    (<a href="https://github.com/ONNC/onnc/tree/master/lib/Transforms/Optimizations">code</a>)
                    for trained classification models.
                    After completing essential optimizations and getting familiarity with
                    <a href="http://nvdla.org/index.html">NVDLA</a>,
                    I initiated quantization framework for ONNC to translate 32-bit FP models
                    into 8-bit INT and fill in all parameters of converters described
                    <a href="http://nvdla.org/hw/v1/ias/precision.html">here</a>.
                -->
            </div>
            <div class="project-photo">
                <a href="https://mlperf.org/">
                    <img src="{{ layout.images_dir }}/mlperf.png" />
                </a>
            </div>
        </div>
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">C++ Developer at
                    <a href="https://skymizer.com/">Skymizer</a>
                </h3>
                <h3 class="project-time">Apr. 2019 - Jul. 2019</h3>
                <p> I participated in ONNC project, and implemented 21 optimization passes
                    (<a href="https://github.com/ONNC/onnc/tree/master/lib/Transforms/Optimizations">code</a>)
                    for trained classification models.
                    After completing essential optimizations and getting familiarity with
                    <a href="http://nvdla.org/index.html">NVDLA</a>,
                    I initiated quantization framework for ONNC to translate 32-bit FP models
                    into 8-bit INT and fill in all parameters of converters described
                    <a href="http://nvdla.org/hw/v1/ias/precision.html">here</a>.
                </p>
            </div>
            <div class="project-photo">
                <a href="https://onnc.ai/">
                    <img src="{{ layout.images_dir }}/onnc.png" />
                </a>
            </div>
        </div>
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">Software Engineer at BravoAI</h3>
                <h3 class="project-time">Mar. 2018 - Sep. 2018</h3>
                <p>
                    My responsibility was to develop an
                    optical character recognition
                    (<a href="https://en.wikipedia.org/wiki/Optical_character_recognition">OCR</a>)
                    system for insurance company to transform medical certificates from paper into
                    digital format automatically. With neural networks written using Pytorch, the entire system
                    was deployed by four Docker containers running Flask web service, operating at a speed of 0.5
                    image/sec.
                </p>
            </div>
            <div class="project-photo">
                <img src="{{ layout.images_dir }}/bravoai.png" />
            </div>
        </div>
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">Quantitative Research Intern at
                    <a href="https://www.worldquant.com/home/">WorldQuant</a>
                </h3>
                <h3 class="project-time">Jul. 2017 - Mar. 2018</h3>
                <p>
                    As a quant, we create models from financial data which predict movement of stock markets,
                    and submitting those models to Websim simulation platform.
                    I ended up with highest Websim score among six interns, and continued to work as a consultant.
                    I submitted over 200 models and ranked 3rd among all Taiwanese consultants at the end.
                </p>
            </div>
            <div class="project-photo">
                <a href="https://www.worldquant.com/home/">
                    <img src="{{ layout.images_dir }}/worldquant.png" />
                </a>
            </div>
        </div>
    </div>
    <hr class="horizontal-line">
    <h3 class="section-title">Projects</h3>
    <div class="project-list">
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">Twitter Data Analysis, CMU Cloud Computing</h3>
                <h3 class="project-time">Fall 2019</h3>
                <p>
                    We need to apply
                    <a href="https://en.wikipedia.org/wiki/Extract,_transform,_load">ETL</a>
                    process on 1TB raw data, store the results in database, and deploy
                    a service which responds to specific query.
                    It's a team of 3. I configured both MySQL and
                    <a href="https://hbase.apache.org/">HBase</a>
                    according to different tasks and deployed
                    8 web instances and 1 load balancer on AWS EC2.
                    We then further migrated previous service
                    to AWS ECS/RDS/Lightsail.
                </p>
            </div>
            <div class="project-photo">
                <img src="{{ layout.images_dir }}/ccproject.png" />
            </div>
        </div>
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">Mail Service, NTU Network Administration</h3>
                <h3 class="project-time">Spring 2017</h3>
                <p>
                    It's a simple and complete web service, from frontend, storage, to user account management.
                    I setup an
                    <a href="https://en.wikipedia.org/wiki/Lightweight_Directory_Access_Protocol">LDAP</a>
                    database on both
                    <a href="http://www.postfix.org/">Postfix</a> (SMTP)
                    and
                    <a href="https://www.dovecot.org/">Dovecot</a> (IMAP)
                    servers to provide user authentication information.
                    We also utilized
                    <a href="https://www.ansible.com/">Ansible</a>
                    to deploy entire service to remote instances.
                </p>
            </div>
            <div class="project-photo">
                <img src="{{ layout.images_dir }}/nasa.png" />
            </div>
        </div>
    </div>
    <hr class="horizontal-line">
    <h3 class="section-title">Publications</h3>
    <div class="project-list">
        <div class="project">
            <div class="project-intro">
                <p> [1] Solving Exist-Random Quantified Stochastic Boolean Satisfiability via Clause Selection. <i>
                        IJCAI</i>, 2018.
                    <br>
                    *N.-Z. Lee, *Yen-Shi Wang, and J.-H. R. Jiang.
                    <span class="span-small">* Equal contribution </span>
                </p>
                <p> [2] Solving Stochastic Boolean Satisfiability under Random-Exist Quantification. <i> IJCAI</i>,
                    2017.
                    <br>
                    N.-Z. Lee, Yen-Shi Wang, and J.-H. R. Jiang.
                </p>
            </div>
            <div class="project-photo">
                <a href="https://github.com/nianzelee/ssatABC">
                    <img src="{{ layout.images_dir }}/ssat.png" />
                </a>
            </div>
        </div>
    </div>
</div>