---
layout: default
title: Home
id-img: ../assets/img/id-small.jpg
---

<div class="home-content">
    <div class="title">
        <div class="photo-pane"> <img src="{{ layout.id-img }}"/> </div>
        <div class="intro-pane">
            <h2> Yen-Shi Wang </h2>
            <p class="intro-italic"><i> ––– who is passionate about software development </i></p>
            <p> I am a master in ECE at Carnegie Mellon University.
                Before that, I have worked at two startups as
                C++ developer and software engineer. </p>
            <p> Besides, I am also interested in learning tools and new programming languages, and
                creating web applications.
                Here is my <a class="cv" href="/assets/pdf/Yen-Shi-Wang-CV.pdf">Curriculum Vitae</a> .</p>
        </div>
    </div>
    <hr class="horizontal-line">
    <h3 class="section-title">Experience</h3>
    <div class="project-list">
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">C++ Developer at Skymizer</h3>
                <h3 class="project-time">Apr. 2019 - Jul. 2019</h3>
            </div>
            <div class="project-photo">
                <a href="https://onnc.ai/">
                    <img src="/images/onnc.png"/>
                </a>
            </div>
        </div>
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">Software Engineer at BravoAI</h3>
                <h3 class="project-time">Mar. 2018 - Sep. 2018</h3>
            </div>
            <div class="project-photo">
                <img src="/images/bravoai.png"/>
            </div>
        </div>
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">Quantitative Research Intern at WorldQuant</h3>
                <h3 class="project-time">Jul. 2017 - Mar. 2018</h3>
            </div>
            <div class="project-photo">
                <a href="https://www.worldquant.com/home/">
                    <img src="/images/worldquant.png"/>
                </a>
            </div>
        </div>
    </div>
    <hr class="horizontal-line">
    <h3 class="section-title">Projects</h3>
    <div class="project-list">
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">Twitter Data Analysis, CMU Cloud Computing</h3>
                <h3 class="project-time">Fall 2019</h3>
            </div>
            <div class="project-photo">
                <img src="/images/ccproject.png"/>
            </div>
        </div>
        <div class="project">
            <div class="project-intro">
                <h3 class="project-title">Mail Server, NTU Network Administration</h3>
                <h3 class="project-time">Spring 2017</h3>
            </div>
            <div class="project-photo">
                <img src="/images/nasa.png"/>
            </div>
        </div>
    </div>
    <hr class="horizontal-line">
    <h3 class="section-title">Publications</h3>
    <div class="project-list">
        <div class="project">
            <div class="project-intro">
                <p> [1] Solving Exist-Random Quantified Stochastic Boolean Satisfiability via Clause Selection. <i> IJCAI</i>, 2018.
                    <br>
                    N.-Z. Lee*, Yen-Shi Wang*, and J.-H. R. Jiang.
                    <span class="span-small">* Equal contribution </span>
                </p>
                <p> [2] Solving Stochastic Boolean Satisfiability under Random-Exist Quantification. <i> IJCAI</i>, 2017.
                    <br>
                    N.-Z. Lee, Yen-Shi Wang, and J.-H. R. Jiang.
                </p>
            </div>
            <div class="project-photo">
                <a href="https://github.com/nianzelee/ssatABC">
                    <img src="/images/ssat.png"/>
                </a>
            </div>
        </div>
    </div>
</div>